{% load i18n admin_static %}

<div class="inline-group" id="{{ formset.prefix }}-group" style="clear: both;">
	{{ formset.management_form }}
	{{ formset.non_form_errors }}

	{% for form in formset %}
		<div class="inline-related{% if form.original or form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ formset.prefix }}-{% if not forloop.last %}{{ forloop.counter }}{% else %}empty{% endif %}">

			<h3><b>{{ formset.opts.verbose_name|capfirst }}:</b>&nbsp;<span class="inline_label">{% if form.original %}{{ form.original }}{% else %}#{{ forloop.counter }}{% endif %}</span>
				{% if form.show_url %}<a href="{{ form.absolute_url }}">{% trans "View on site" %}</a>{% endif %}
				<span>
					<a class="inline-deletelink" href="javascript:void( 0 )">
						Remove
					</a>
				</span>
			</h3>
			<fieldset class="module aligned">
				<div class="form-row">
				{% if form.form.non_field_errors %}{{ form.form.non_field_errors }}{% endif %}
				{% for field in form %}
				<div {% if not field.is_checkbox %} class="{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
						{{ field.errors }}
						{% if field.is_checkbox %}
							{{ field.field }}{{ field.label_tag }}
						{% else %}
							{{ field.label_tag }}
							{% if field.is_readonly %}
								<p>{{ field.contents|linebreaksbr }}</p>
							{% else %}
								{{ field }}
							{% endif %}
						{% endif %}

						{% if field.field.help_text %}
							<p class="help">{{ field.field.help_text|safe }}</p>
						{% endif %}
					</div>
				{% endfor %}
				</div>
			</fieldset>
			{% if form.needs_explicit_pk_field %}{{ form.pk_field.field }}{% endif %}
			{{ form.fk_field.field }}
		</div>
	{% endfor %}
</div>
<script type="text/javascript">
	(function($) {
		$("#{{ formset.prefix }}-group .inline-related").stackedFormset({
			prefix: '{{ formset.prefix }}',
			adminStaticPrefix: '{% static "admin/" %}',
			deleteText: "{% trans "Remove" %}",
			addText: "{% blocktrans with verbose_name=formset.opts.verbose_name|capfirst %}Add another {{ verbose_name }}{% endblocktrans %}"
		});
	})(django.jQuery);
</script>
